<h1>{{#name}}{{writer_name}}'s page{{/name}}</h1>
<div class="article-list">
    {{#articles}}
        <article>
           <a href="/article/{{slug}}"><img
            src="/images/{{image}}" alt=""></a>
            <h2><a href="/article/{{slug}}">{{art_name}}</a></h2>
        </article>
    {{/articles}}
</div>